page-perfil {
	
	#per{
		height:45%;
		background: #37474f;
		color:#fff;
	}

	#In4{
		margin-left:15%;
		margin-top: 5%;
		width: 70%;
		background: rgba(255,255,255,.7);
		padding-left: 5%;
		font-size:16px;
		color: #0f0f0f;
		border-radius: 5px;
	}

	#dat{
		padding-top: 5%;
		height:55%;
		background: #fff;
	}

	#ic{
		margin-top: 10%;
		font-size: 80px;
	}

	p{
		font-size: 20px;
	}

	#in{
		background: transparent;
	}
	
	#lab{
		color: #90a4ae;
	}

	#lab2{
		color: #0f0f0f;
	}
}
